<h1> Cadastro de Filmes </h1>

<% if flash[:notice] %>
  <div style="margin: 10px 0px">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_with model: @movie do | f | %>
  <div>
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :release_year, 'Ano de lançamento' %>
    <%= f.number_field :release_year %>
  </div>

  <div>
    <%= f.label :synopsis, 'Sinopse' %>
    <%= f.text_area :synopsis %>
  </div>

  <div>
    <%= f.label :country_of_origin, 'País de origem' %>
    <%= f.text_field :country_of_origin %>
  </div>

  <div>
    <%= f.label :duration, 'Duração em minutos' %>
    <%= f.number_field :duration %>
  </div>

  <div>
    <%= f.label :director_id, 'Diretor' %>
    <%= f.collection_select :director_id, Director.all, :id, :name %>
  </div>

  <div>
    <%= f.label :genre_id, 'Gênero' %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
  </div>

  <div>
    <%= f.submit 'Salvar' %>
  </div>
<% end %>