<!DOCTYPE html>
<html>
  <head>
    <title>FilmCatalog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li> 
          <%= link_to 'Home', root_path %>
        </li>  
        <li> 
          <%= link_to 'Cadastrar novo gênero', new_genre_path %>
        </li>
        <li> 
          <%= link_to 'Cadastrar novo diretor', new_director_path %>
        </li>    
        <li> 
          <%= link_to 'Cadastrar novo filme', new_movie_path %>
        </li>    
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
